.result{
    &-heading{
        font-family: 'Domine',serif;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3rem;
    }
    &-personal-info{
        text-align: center;
        margin-bottom: 2rem;
        .name{
            color: $secondary;
            font-weight: 600;
            display: block;
        }
    }
    &-energy{
        display: grid;
        row-gap: .5rem;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 2rem;
        
        @include respond(tab){
            column-gap: .5rem;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 2rem;
            
        }

        &-vert{
            grid-template-columns: 1fr;
            row-gap: .5rem;
            margin-top: 1rem;

            .result-energy-item{
                background-color: $white;
                text-align: left;
                font-size: .8rem;
                color: $gray-700;
            }
        }
        &-item{
            padding: 6px 1rem;
            background-color: $light;
            border-radius: 4px;
            text-align: center;
            color: $gray-700;
        }
    }

    &-report form{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $gray-300;
        padding-left: 1rem;
        margin-bottom: 2rem;
        
        @include respond(tab){
            width: 70%;
            
        }
        input{
            border: 0;
            flex: 2;
            
            &:focus{
                outline: 0;
            }
        }

        .btn-report{
            // padding: 1rem;

        }
    }

    &-card{
        background-color: rgba($primary, .2);
        border: none;

        &-list{
            margin-top: 2rem;   
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;

        }

        &-item{
            width: 11rem;
            flex: 0 0 20%;

            &:not(:last-child){
                margin-right: 2rem;
            }
            .name{
                font-size: .9rem;
                font-weight: 600;
                display: block;
            }
    
            .date{
                font-size: .8rem;
            }
        }
    }


    // description

    &-description{
        position: relative;
        h2{
            font-weight: 600;
        }

        img{
            width: 100%;
            @include respond(tab){
                width: 23rem;
            
            }
        }

        &-body{
            
            width: 100%;
            position: relative;
            display: block;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 2rem 0;
            
            @include respond(tab){
                height: 80vh;
                display: flex;
                padding: 0;
            }
            .card{
                border: 1px solid $gray-300;
                border-radius: 8px;
                padding: 1rem;
                margin-bottom: 1rem;
                // position: relative;
                // width: 100%;
                
                @include respond(tab){
                    width: 10rem;
                    position: absolute;
                }


                .item{
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 1rem;
                    span{
                        line-height: 1;
                    }

                    .name{
                        display: inline-block;
                        margin-right: 1rem;
                    }

                    .empty{
                        display: inline-block;
                        height: 1px;
                        width: 12px;
                        background-color: $gray-700;
                    }
                }

                &-fire{
                    border: 1px solid #F41B2E;
                    
                    @include respond(tab){
                        top: 1rem;
                        left: 41%;
                        border: 1px solid $gray-300;
                    }
                }
                
                &-water{
                    border: 1px solid #000;
                    @include respond(tab){
                        bottom: 8rem;
                        left: 5rem;
                        border: 1px solid $gray-300;

                    }
                }
                &-earth{
                    border: 1px solid #FFC90C;
                    @include respond(tab){
                        top:13rem;
                        right: 4rem;
                        border: 1px solid $gray-300;
            
                    }
                }
                
                &-metal{
                    border: 1px solid #6E6F71;
                    @include respond(tab){
                        bottom: 8rem;
                        right: 5rem;
                        border: 1px solid $gray-300;
            
                    }
                }
                &-wood{
                    border: 1px solid #94C83F;
                    @include respond(tab){
                        top: 13rem;
                        left: 4rem;
                        border: 1px solid $gray-300;
            
                    }
                }
            }
        }

        .buttons{
            width: 9rem;
            position: absolute;
            left: -15rem;
            bottom: 0;

            button{
                display: block;
                margin-bottom: 1rem;
                width: 7rem;

                &.btn-fire{
                    color: #F41B2E !important;
                }
                &.btn-water{
                    color: #000 !important;
                }
                &.btn-earth{
                    color: #FFC90C !important;
                }
                &.btn-wood{
                    color: #94C83F !important;
                }
                &.btn-metal{
                    color: #6E6F71 !important;
                }
            }
        }
    }
}